    <!-- **************** NAV BAR ****************  -->
    <div class="w-nav nav" data-animation="default" data-collapse="medium" data-contain="1" data-duration="400">
      <div class="w-container">
        <a class="w-nav-brand" href="/">
          <div class="logo-text">Friends of <strong data-new-link="true">Sullivan</strong>
          </div>
        </a>
        <nav class="w-nav-menu w-preserve-3d nav-menu" role="navigation">
          <a class="w-nav-link nav-link" href="/fos/">Home</a>
          <a class="w-nav-link nav-link" href="/fos/about">About</a>
          <a class="w-nav-link nav-link" href="/projects">Projects</a>
          <a class="w-nav-link nav-link" href="/events_news">Events</a>
          <a class="w-nav-link nav-link" href="/donate">Donate</a>
          <a class="w-nav-link nav-link contact" data-ix="show-contact-overlay" href="#">Join Us</a>
             
        </nav>
        <div class="w-nav-button menu-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
