---
layout: default
---
  
  <div class="w-section hero-section project-container">

    {% include navbar.html %}
    
    <div class="hero-overlay"></div>
    <h1>About what we're doing</h1>
  </div>
  <div class="w-section section top-section">
    <div class="w-container hero-container project-container">
      <div>
        <div class="alternate-image"></div>
        <div class="w-richtext project-text">
          <h3>Sustaining Sullivan’s Future</h3>
          <p>The Board of Governors of Sullivan Upper School is delighted to announce the launch of a major campaign to connect together all of the members of the Sullivan family. Sustaining Sullivan’s Future will reach out to all the many “Friends of Sullivan” who are alumni students, teachers, staff, parents, governors past and present and also to those in the local community who wish to join us to assist the ongoing development of the school.</p>
          <p>In 1862, Robert Sullivan bequeathed a major legacy which led to the foundation of the Sullivan school in what is now the library building in Holywood High Street in 1877. Next year the school will celebrate 140 continuous years providing education to the children of Holywood and the surrounding area. The governors are proud of our long association with Robert Sullivan and his vision of providing an excellent education available to all children regardless of their background.</p>
          <p>We are proud of the school’s significant record of both academic and pastoral achievement that has provided successive generations of pupils with the skills required to realise their full potential in life.</p>
          <h3>Our long term objective is to ensure that Sullivan is still educating children in Holywood for another 140 years.</h3>
          <p>In order to sustain and defend the legacy of Robert Sullivan and to meet the myriad of challenges presented in the modern educational environment, the Board of Governors believes that a dynamic alumni organisation is a vital component for school’s future development. Those who have benefitted from time as students, parents and employees are best placed to appreciate the contribution that the school offers to current and future generations of students. Modern technology allows us to communicate and connect much more readily than ever before such that this website and presence on social media will enable all the “Friends of Sullivan” to keep up to date with what’s happening today in Sullivan, to reconnect with your contemporaries from your own time at the school and enable the Board of Governors to seek out assistance when necessary to look after the school’s interests.</p>
          <p>Sullivan “Upper” moved to its present location on Belfast Road in 1939 and has grown steadily ever since, adding such landmark buildings as the War Memorial Pavilion in 1962, the Frost Building in 1976, a Drama Theatre in 1982 and the Sports Hall in 1989. These developments have been achieved not only from Department of Education funding but critically in the case of the pavilion and the sports hall with substantial funding from parents and past pupils.</p>
          <p> In 2017 we saw the replacement of the famous War Memorial Pavilion with brand new sports changing facilities, and the addition of a new gymnasium and a state of the art astroturf hockey pitch. The Board of Governors are determined that the school’s facilities are maintained at the highest possible quality to keep our estate up to modern educational standards. Major capital projects like the new Pavilion and hockey pitch are therefore viewed by the Board as fundamental to our commitment to “Sustaining Sullivan’s Future” and to this end, a fundraising campaign was launched.</h3>
          <p>Please record your details in our database, send us details of your experiences at the school and keep an eye out for future events.</p> 
          <p>Further information on the events planned are available by clicking <a href="/fos/events">here</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="w-section cta-section facebook-bar">
    <div class="w-container">
      <a class="w-button button fb" href="//www.facebook.com/friendsofsullivan" target="_blank">Join us on Facebook</a>
    </div>
  </div>
  <div class="w-section section gray-section">
    <div class="w-container">
      <div class="center">
        <h2>Recent Projects</h2>
        <div class="small-divider dark-divider"></div>
      </div>
      <div class="w-dyn-list">
        <div class="w-dyn-items w-row w-clearfix">
          <div class="w-dyn-item w-col w-col-4 project-block">
            <a class="w-inline-block project-link" href="{{ "/projects" | prepend: site.baseurl }}/">
              <div class="project-image"></div>
              <div class="project-tag"></div>
              <div class="project-title">[2016] School Enhancement Programme</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="w-section cta-section">
    <div class="w-container">
      <div class="cta-heading">Be part of it</div><a class="w-button button" data-ix="show-contact-overlay" href="#">Join Us</a>
    </div>
  </div>

  
