---
layout: default
---
  
  <div class="w-section hero-section donate-page">

    {% include navbar.html %}
    
    <h1>Sustaining Sullivan’s Future </h1>
    <div class="hero-overlay"></div>
  </div>
  <div class="w-section section">
      <div class="w-container">
        <div class="w-richtext">
          <h2>[eDonations] School Appeal Fund</h2>
          <br>
          <p>By donating to the Sullivan Upper Appeal Fund you are ensuring that the pupils of Holywood and the surrounding area will continue to receive the highest standard of education, through the continuous development of the school’s estate and extra curricular activities.</p>
          <br>
          <blockquote>
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="6BHRZ6H3M8ZA4">
                <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
              </form>
          </blockquote>
          <figure data-rt-type="image" data-rt-align="floatright" data-rt-max-width="40" class="w-richtext-align-floatright" data-rt-max-height="941" style="max-width: 40%;">
            <a href="//drive.google.com/open?id=0B-qzY6m4Xyo0MHZ2VDJvZ01VVHM" target="_blank">OR download pledge form</a>
          </figure>
          <div class="alternate-image with-padding">
               <iframe class="project-flyby" src="https://www.youtube.com/embed/7Yt18waOA-4" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="w-container">
        <div class="w-richtext">
            <h2>Significant and Large Donations</h2>
            <p>The Governors are delighted that the appeal has already received a number of significant donations and we wish to record our particular appreciation for contributions to the fund in excess of £1,000 including <a target="_blank" href="//www.gov.uk/donating-to-charity/gift-aid">Gift Aid</a>.</p>
            <p>Whilst recognising that some donors may wish their contributions to remain anonymous, others will be happy for the school to record their support for the appeal in an appropriate manner.</p>
            <h2>Lifelong Friend of Sullivan</h2>
            <p>For donations of £1,000 and above, individuals will be entitled to have their name engraved on a glass window at the front of the new Pavilion.</p>
            <h2>Patron of the Friends of Sullivan</h2>
            <p>For donations of £5,000 and above, individuals will be entitled to have their name (or dedication) engraved on a specially commissioned plaque to be displayed in the entrance area of the new Pavilion. Patrons will also be granted two complimentary tickets for all of the major events relating to the appeal.</p>
            <br>
            <h4 style="font-style: italic;">The Fundraising Committee of the Board of Governors || Sullivan Upper School</h4>
        </div>
      </div>
      <!-- END OF w-section-section -->
    </div>
  
  <script>

      $('#flyer-view').on('click', function() {
          var route = $(this).data('href')
          window.open(route);
          console.log(route)
      });

  </script>


