---
layout: default
---
  
  <div class="w-section hero-section about-page">

    {% include navbar.html %}
    
    <h1>Projects | Enhancements</h1>
    <div class="hero-overlay"></div>
  </div>
  <div class="w-section section">
    <div class="w-container">
      <div class="alternate-image">
         <iframe class="project-flyby" src="https://www.youtube.com/embed/7Yt18waOA-4" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="w-richtext">
        <h2>[2016] School Enhancement Programme</h2>
        <figure data-rt-type="image" data-rt-align="floatright" data-rt-max-width="40" class="w-richtext-align-floatright" data-rt-max-height="941" style="max-width: 40%;">
          <div><img src="{{ "/images/sep-0.JPG" | prepend: site.baseurl }}" alt="">
          </div>
        </figure>
        <p>In February 2016, following a successful application to the Department of Education, the school received confirmation of a grant under the School Enhancement Programme.</p>
        <p>The grant will help fund the building and improvement of facilities throughout the school estate.</p>
        <blockquote>"Following extensive planning and assessment there are a number of developments due to be completed Summer 2017."</blockquote>
        <p>The first of those developments is the replacement of the front hockey pitch with a National standard astro­turf pitch.The project will include the addition of applicable floodlighting and the provision of spectator viewing areas.</p>
        <figure data-rt-type="image" data-rt-align="floatleft" data-rt-max-width="40" class="w-richtext-align-floatleft" data-rt-max-height="941" style="max-width: 40%;">
          <div><img src="{{ "/images/sep-2.JPG" | prepend: site.baseurl }}" alt="">
          </div>
        </figure>
        <p>The second project is the replacement of the War Memorial Pavilion with a multipurpose, two storey building. This building will provide changing facilities, a dance/drama studio, a state­-of-the-art gymnasium and office space. On the first floor there will be a viewing gallery and balcony looking out over the front pitches. The new pavilion maintains the wooden slat appearance that was so prevalent in the War Memorial Pavilion but extends extensively at the rear, maximising space, adding much needed new and improved facilities. This project is due to be completed September 2017.</p>
        <p>The two projects are estimated to cost a total of £2.9 million; the Department of Education (SEP Grant) will be funding £2.3 million; with the school’s share of the cost approximately £600 000.</p>
      </div>
    </div>
  </div>
  <div class="w-section cta-section facebook-bar">
    <div class="w-container">
      <a class="w-button button fb" href="www.facebook.com/friendsofsullivan" target="_blank">Join us on Facebook</a>
    </div>
  </div>
  <div class="w-section section">
    <div class="w-container">
      <div class="w-richtext">
        <h2>[1980] Sports Hall | IT Suite | Music Suite </h2>
        <figure data-rt-type="image" data-rt-align="floatright" data-rt-max-width="40" class="w-richtext-align-floatright" data-rt-max-height="941" style="max-width: 40%;">
          <div><img src="{{ "/images/sep-8.jpg" | prepend: site.baseurl }}" alt="">
          </div>
        </figure>
        <p>Having taken some time in the early 1980s to look at the accommodation and facilities that pupils attending Sullivan enjoyed, the Board of Governors concluded that there were some important gaps and, more importantly, that the chances of securing funding for further development from the Department of Education were, at best, very slim.</p>
        <blockquote>The Governors therefore decided, after a lot of thought and with many doubts and reservations, that the school should launch an ambitious appeal for the money that would enable the much-needed developments to be taken forward.</blockquote>
        <p>In the end and after a great deal of hard work, not least by the professional fund-raiser who was engaged to manage the appeal, the school raised something in the region of £750,000, most of it coming from parents and former pupils and a great deal being given through tax-efficient covenants which added significantly to the value of the gifts.</p>
        <p>And the result was that the school was able to build the sports hall and new accommodation for music and IT and also to transform the swimming pool area into something much more welcoming and pleasant.</p>
        <p>The generosity and the enthusiastic support of parents and former pupils were what enabled the appeal to be such a success, demonstrating along the way just how highly regarded the school is and what affection there is for it among its many, many alumni.</p>
      </div>
    </div>
  </div>
  <div class="w-section cta-section">
    <div class="w-container">
      <div class="cta-heading">Be part of it</div><a class="w-button button" data-ix="show-contact-overlay" href="#">Join Us</a>
    </div>
  </div>
  <div class="w-section section">
    <div class="w-container">
      <div class="w-richtext">
        <h2>[1962] The War Memorial Pavilion</h2>
        <figure data-rt-type="image" data-rt-align="floatright" data-rt-max-width="40" class="w-richtext-align-floatright" data-rt-max-height="941" style="max-width: 40%;">
          <div><img src="{{ "/images/war-pavilion.jpg" | prepend: site.baseurl }}" alt="">
          </div>
        </figure>
        <p>In 1962 the iconic War Memorial Pavilion as we know it today was opened. The money to erect the building was provided by the War Memorial Fund which the Former Pupils Association launched in 1957­-58. By 1960, the sum of £590 had been raised, a sum which disappointed the Association's Secretary.</p>
        <blockquote>Following a bazaar run by the Association in the school grounds on Saturday 6 October 1962, almost £1000 was raised and ensured that the Fund reached its target.</blockquote>
        <p>Although the Pavilion was intended for use by the P.E. and games Department it has actually had a more chequered history. From the beginning it was used for classes, Preparatory Department even the music department held residence in the pavilion before moving to the current Music Suite in 1989.</p>
        
        <p>The iconic building has served the school well over its 55 year life span, some will be sad to see the old stomping ground replaced, many glad, but looking to the future we should all be excited by it's successor.</p>
      </div>
    </div>
  </div>

