---
layout: default
---

<!-- {% for post in site.posts %}
		<time>{{ post.date | date: "%b %-d, %Y" }}</time>
		<h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
{% endfor %} -->

  <div class="w-section hero-section blog-hero">
  	{% include navbar.html %}
    <div class="hero-overlay"></div>
    <h1>What's on & updates</h1>
  </div>

  <div class="w-section section">
    <div class="w-container">
      <div class="w-richtext">
          <h2>Upcoming Events & News</h2>
      </div>
      <br>
      <div class="w-dyn-list">
        <div class="w-dyn-items w-row">
              {% for post in site.posts %}
                 {% unless post.past-event == 'Yes' %}
      	         <div class="w-dyn-item w-col w-col-4 blog-block">
      	            <a style="color:#00AB59; height: 140px;" class="w-inline-block project-link blog-link small" href="{{ post.external-link }}" target="_blank"data-ix="blog-link">
      <!-- 	          <div class="blog-image-wrapper">
      	                <div class="blog-date">Date: {{ post.date | date: "%b %-d, %Y"}}</div>
      	                <div class="blog-category">Buy Tickets</div>
      	                <div class="blog-image sport-event"></div>
      	              </div> -->
      	              <div class="blog-title">{{ post.title }}</div>
      	              <div class="blog-description">{{ post.description }}</div>
      	           </a>
      	          </div>
                  {% endunless %}
      		     {% endfor %}
          </div>
      </div>
    </div>
  </div>
<!-- START OF BANNER -->
  <div class="w-section cta-section">
    <div class="w-container">
      <div class="cta-heading">Be part of it</div><a class="w-button button" data-ix="show-contact-overlay" href="#">Join us</a>
    </div>
  </div>
<!-- START OF PAST EVENTS -->
  <div class="w-section section">
    <div class="w-container">
      <div class="w-richtext">
          <h2>Past events and photos</h2>
      </div>
      <br>
      <div class="w-dyn-list">
        <div class="w-dyn-items w-row">

        {% for post in site.posts %}
           {% unless post.past-event == 'No' %}
           <div class="w-dyn-item w-col w-col-4 blog-block">
              <a style="color:#00AB59; height: 140px;" class="w-inline-block project-link blog-link" href="{{ post.url | prepend: site.baseurl }}" target="_blank"data-ix="blog-link">
       <!--     <div class="blog-image-wrapper">
                  <div class="blog-date">Date: {{ post.date | date: "%b %-d, %Y"}}</div>
                  <div class="blog-category">Buy Tickets</div>
                  <div class="blog-image gala-ball"></div>
                </div> -->
                <div class="blog-title">{{ post.title }}</div>
                <div class="blog-description">{{ post.description }}</div>
             </a>
            </div>
            {% endunless %}
         {% endfor %}

        </div>
      </div>
     </div>
   </div>

